<h1>Welcome to our Automated HTTPD Server</h1>
<br>
This is a <strong> {{ httpd_install_type }} </strong> installation of Apache HTTPD
<br>
Running on <strong> {{ ansible_distribution }} </strong> version <strong> {{ ansible_distribution_version }} </strong>
<br>
Today's date is: <strong> {{ ansible_date_time['date'] }} </strong>
<br>
Time of deployment: <strong> {{ ansible_date_time['time'] }} </strong>